#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - BED_OUT
heater_pin: BED_OUT
sensor_type: NTC 100K beta 3950
sensor_pin: TB
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.75
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769