[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    STATUS_BUSY
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 F20000                ; move nozzle up to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X320 Y350 F10000            ; park nozzle at rear
    M117
    BED_MESH_CLEAR
    M117 Cooling
    M141 S35
    G4 P60000
    SET_FAN_SPEED FAN=bed_fan SPEED=0.80
    G4 P60000
    SET_FAN_SPEED FAN=bed_fan SPEED=0.60
    G4 P60000
    SET_FAN_SPEED FAN=bed_fan SPEED=0.50
    G4 P60000
    SET_FAN_SPEED FAN=bed_fan SPEED=0.40
    G4 P60000
    SET_FAN_SPEED FAN=bed_fan SPEED=0
    M117
    STATUS_READY